<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

    <menuitem name="accounting-root"
              title="Accounting" icon="fa-calculator" icon-background="#2fa042"/>

    <menuitem name="accounting-root-account"
              parent="accounting-root"
              title="Accounts"
              action="accounting.root.account"/>

    <menuitem name="accounting-root-accountingEntry"
              parent="accounting-root"
              title="AccountingEntries"
              action="accounting.root.accountingEntry"/>

    <menuitem name="accounting-sales-productfamily" title="Product Family"
              parent="sales-root-sales"
              action="accounting.sales.productfamily"/>

    <menuitem name="dashboard-root"
              title="Dashboard" icon="fa-address-card-o" icon-background="#84429f"/>

    <menuitem name="dashboard-root-monitoring-dashboard"
              parent="dashboard-root"
              title="Monitoring Dashboard"
              action="dashboard.dashboard.general.report"/>

    <action-view name="dashboard.dashboard.general.report" title="Monitoring Dashboard">
        <view type="dashboard" name="dashboard.training.monitoring"/>
    </action-view>

    <action-view name="accounting.root.account"
                 title="Account"
                 model="com.axelor.apps.accounting.db.Account">
        <view type="grid" name="accounting-account-grid"/>
        <view type="form" name="accounting-account-form"/>
    </action-view>

    <action-view name="accounting.root.accountingEntry"
                 title="AccountingEntry"
                 model="com.axelor.apps.accounting.db.AccountingEntry">
        <view type="grid" name="accounting-accountingEntry-grid"/>
        <view type="form" name="accounting-accountingEntry-form"/>
    </action-view>

    <action-view name="accounting.sales.productfamily" title="Product Family"
                 model="com.axelor.apps.accounting.db.ProductFamily">
        <view type="grid" name="accounting-productfamily-grid"/>
        <view type="form" name="accounting-productfamily-form"/>
    </action-view>

    <!--    <action-view name="accounting.root.accountingEntryLine"-->
    <!--                 title="AccountingEntryLine"-->
    <!--                 model="com.axelor.apps.accounting.db.AccountingEntryLine">-->
    <!--        <view type="grid" name="accounting-accountingEntryLine-grid"/>-->
    <!--        <view type="form" name="accounting-accountingEntryLine-form"/>-->
    <!--    </action-view>-->


</object-views>