<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

    <menuitem name="dashboard-root"
              title="Dashboard"/>

    <menuitem name="dashboard-root-monitoring-dashboard"
              parent="dashboard-root"
              title="Monitoring Dashboard"
              action="dashboard.dashboard.general"/>

    <action-view name="dashboard.dashboard.general" title="Monitoring Dashboard">
        <view type="dashboard" name="dashboard.training.monitoring"/>
    </action-view>


</object-views>