<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

    <menuitem name="sales-root-sales"
              title="Sales" icon="fa-line-chart"  icon-background="#e0a83c"/>

    <menuitem name="sales-root-sales-orders"
              parent="sales-root-sales"
              title="Sales Orders"
              action="sales.root.sales.orders"/>

    <menuitem name="sales-root-sales-product"
              parent="sales-root-sales"
              title="Products"
              action="sales.root.sales.product"/>

<!--    <menuitem name="sales-root-sales-orderLine"-->
<!--              parent="sales-root-sales"-->
<!--              title="Order Lines"-->
<!--              action="sales.root.sales.orderLine"/>-->


    <action-view name="sales.root.sales.orders"
                 title="Sales orders"
                 model="com.axelor.apps.sales.db.Order">
        <view type="grid" name="sales-orders-grid"/>
        <view type="form" name="sales-orders-form"/>
    </action-view>

    <action-view name="sales.root.sales.product"
                 title="Products"
                 model="com.axelor.apps.sales.db.Product">
        <view type="grid" name="sales-product-grid"/>
        <view type="form" name="sales-product-form"/>
    </action-view>

<!--    <action-view name="sales.root.sales.orderLine"-->
<!--                 title="Order Lines"-->
<!--                 model="com.axelor.apps.sales.db.OrderLine">-->
<!--        <view type="grid" name="sales-orderLine-grid"/>-->
<!--        <view type="form" name="sales-orderLine-form"/>-->
<!--    </action-view>-->

</object-views>