<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

    <menuitem name="events-root"
              title="Event" icon="fa-calendar" icon-background="#34d0f7"/>

    <menuitem name="events-root-event"
              parent="events-root"
              title="Events"
              action="events.root.event"/>

    <menuitem name="events-root-event-calendar" title="Event Calendar" parent="events-root"
              action="events.root.event.calendar"/>

    <menuitem name="events-root-today-event" title="Today's Events" parent="events-root"
              action="events.root.today.event"/>

    <menuitem name="events-my-event-of-the-day" title="My Events of the Day" parent="events-root"
              action="events.my.event.of.the.day"/>

    <menuitem name="dashboard-events-my-dashboard" title="My Dashboard" parent="events-root"
              action="events.dashboard.my.dashboard"/>

    <action-view name="events.dashboard.my.dashboard" title="My Dashboard" model="com.axelor.apps.events.db.Event">
        <view type="dashboard" name="dashboard.events.my.dashboard"/>
    </action-view>

    <action-view name="events.my.event.of.the.day" title="My Events of the Day" model="com.axelor.apps.events.db.Event">
        <view type="grid" name="events-my-event-of-the-day-grid"/>
        <view type="form" name="events-event-form"/>
        <domain><![CDATA[
            DATE(self.startDate) <= CURRENT_DATE
            AND ( DATE(self.endDate) >= CURRENT_DATE OR self.endDate IS NULL)
            AND self.eventUser.id = :_userId
        ]]>

        </domain>
        <context name="_userId" expr="eval:__user__.id"/>

    </action-view>



    <action-view name="events.root.today.event" title="Today's Events" model="com.axelor.apps.events.db.Event">
        <view type="grid" name="events-today-event-grid"/>
        <view type="form" name="events-event-form"/>

        <!--        <domain><![CDATA[-->
        <!--        DATE_TRUNC('day',self.startDate) <= :_todayDateTime AND (self.endDate = null or DATE_TRUNC('day',(self.endDate + INTERVAL '1 day')) >= :_todayDateTime)-->
        <!--        ]]>-->

        <!--        </domain>-->

        <domain><![CDATA[
            DATE(self.startDate) <= CURRENT_DATE AND ( DATE(self.endDate) >= CURRENT_DATE OR self.endDate IS NULL)
        ]]>

        </domain>
        <!--        <context name="_todayDateTime" expr="eval:__datetime__"/>-->
    </action-view>

    <action-view name="events.root.event"
                 title="Events"
                 model="com.axelor.apps.events.db.Event">
        <view type="grid" name="events-event-grid"/>
        <view type="form" name="events-event-form"/>
        <view type="calendar" name="event-calendar-color-by-status"/>
    </action-view>

    <action-view name="events.root.event.calendar" title="Events Calendar" model="com.axelor.apps.events.db.Event">
        <view type="calendar" name="event-calendar-color-by-status"/>
    </action-view>

</object-views>